@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Nanum+Gothic&display=swap');

body {
    font-family: 'Nanum Gothic', cursive;
    display: flex;
    flex-direction: column;
    width : 100%;
  }
  
header, nav, .container, footer {
    width: 100%;
  }


aside, main {
  flex-basis: 0;
}

header{
    padding-top:10px;
    background-color: #234794;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-image: url(./images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    position : relative
}

header h1 {
    margin: 0;
    font-size: 36px;
    color: white;
  }
.flex-nav{
    position: absolute;
    bottom : 0;
    display: flex;
    right : 0;
}
nav{
    flex-shrink: 0;
}

nav ul{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
}

nav ul li{
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 10px;
    margin-bottom : 10px;
    height: calc(100vh - 180px);

  }

  .container main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #234794;
    flex-grow: 3;
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none; /* IE 및 Edge용 스크롤바 숨김 설정 */
    scrollbar-width: none; /* Firefox용 스크롤바 숨김 설정 */
  }


.container aside{
    width : 100%;
    margin-left: 10px;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    height: 100%;
    overflow: auto;
    background-image: url(./images/aside.png);
    background-repeat: no-repeat;
    background-size: cover;

}

aside ul{
    padding: 10px 0px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;
    position: relative;
}

aside ul li{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

aside ul .li-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

aside ul li .menu1{
    display: none;
    justify-content: center;
    align-items: center;
    
}




aside ul li a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

aside ul li input{
    width: 60%;
    height: 100%;
}
aside ul li button{
    height: 124%;
}

aside ul li p {
    font-size : 18px;
    text-align: center;
    background-color: none;
}


a:hover {
    color: gray;
}

footer{
    background-color: #234794;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-image: url(./images/header.png);
    background-repeat: no-repeat;
    background-size: cover;
 
}

footer p{
    color: white;
}

h2{
    font-size : 18px;
    font-weight: bold;
}

.recent h2{

    margin-top : 10px;
    margin-bottom: 10px;
}

.recent h3{
    font-size : 18px;
    font-weight: bold;
    margin-top : 10px;
    margin-bottom: 10px;
}

.recent p{
    font-size : 14px;
    font-style: normal;
    font-weight: normal;
}

.container div{
    margin : 10px;
}

h1{
    font-size: 20px;
    font-weight: bold;
}
.recent ol{
    list-style-type: disc;
}

.recent ol li{
    margin: 10px;
}
.recent ol li p{
    padding: 10px;
}

.recent ol li a {
    text-decoration: none;
    color: black;
    font-style: italic;
    font-weight: bold;
}

.recent ol li a:hover{
    color: gray;
}

.recent ol li img{
    width : 100%;
    height: 100%;
}

.container article{
    flex-grow: 1;
}

section{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    align-content: center;
    flex-grow: 1;
}

section a{
    text-decoration: none;
}
section a .wantyou{
    margin: 10px;
    box-sizing: border-box;
    width : 200px;
    height : 250px;
    
}

section a:nth-child(1) .wantyou{
    background-image: url("./images/wantyou.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

section a:nth-child(2) .wantyou{
    background-image: url("./images/iwantyou.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

section a:nth-child(3) .wantyou{
    border: 1px solid #234794;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .wantyou:hover{
    transition: ease;
    transition-duration: 0.5s;
    transform: scale(1.1);
}

img{
    width : 40px;
    height : 40px;
    margin-right : 20px;
}

.forTheAlliance h2{
    margin-bottom : 10px;
}

.forTheAlliance p{
    padding-left : 10px;
    line-height: 20px;
}

.introduce h2{
    margin-bottom : 10px;
}

.introduce p{
    padding-left : 10px;
    line-height: 20px;
}

.recent ol h2{
    margin-bottom: 10px;
}

.recent{
    height : 40vh;
    overflow-y : scroll;
    overflow-x : hidden;
}

.menu-button {
    display: inline-block;
    width: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative; /* 부모 요소에 position: relative 추가 */
    font-size: 16px;
  }
  
  .menu1 {
    display: none;

  }

@media  screen and (max-width: 768px) {

    body {
        font-family: 'Nanum Gothic', cursive;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
      }
    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 10px;
        margin-bottom : 10px;
        flex-grow: 1;
        height : calc(100vh);
    
    }


    .container aside{
        margin-left : 0;
        width: 100%;
        height : 100%;
    }

      section{
        display: flex;
        flex-flow: wrap column;
        justify-content: space-around;
        align-content: center;
    }


@media  screen and (min-width: 1921px) {

    section a .wantyou{
        margin: 10px;
        box-sizing: border-box;
        width : 300px;
        height : 350px;
        
    }
    
}


}

.menu1 {
    display: none;
}

.menu1.show {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/showmenu.png);
}


.flex-box1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

/* 스크롤바 전체에 대한 스타일 */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* 스크롤바의 트랙에 대한 스타일 */
  ::-webkit-scrollbar-track {
    background-color: #ccc;
  }
  
  /* 스크롤바의 쓰레기통에 대한 스타일 */
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }
  
  /* 스크롤바가 움직일 때의 스타일 */
  ::-webkit-scrollbar-thumb:hover,
  ::-webkit-scrollbar-thumb:active {
    background-color: #999;
  }